.custom-tabs .ant-tabs-nav {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #555;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0;
}

.custom-tabs .ant-tabs-nav .ant-tabs-tab {
  flex-grow: 1; /* 각 탭이 고르게 넓이를 차지하게 설정 */
  justify-content: center;
  margin: 0;
  background-color: #fafafa;
}

.custom-tab-label {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  padding: 12px 16px;

  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.custom-tabs .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: none !important; /* 선택된 탭의 하단 border 제거 */
  background-color: #fff; /* 선택된 탭은 배경색을 다르게 */
}

.ant-tabs-nav-list {
  width: 100%;
}
