.product-qna-box {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  border-image: initial;
  background: rgb(255, 255, 255);
  .product-qna {
    padding: 30px 40px;
    .qna-info-box {
      li {
        font-size: 13px;
      }
    }
  }
  .title-box {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    .title-text {
      font-size: 18px;
      font-weight: bolder;
    }
    .qnaBtn {
      cursor: pointer;
      padding: 6px 20px;
      font-size: 14px;
      color: rgb(52, 106, 255);
      background-color: rgb(255, 255, 255);
      box-shadow: rgb(221, 221, 221) 0px -1px inset;
      border: 1px solid rgb(52, 106, 255);
      border-radius: 3px;
      font-weight: 600;
    }
  }
}

.product-qna-border {
  border-top: 2px solid #777;
  border-bottom: 1px solid #ddd;
}

.product-declare-box {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  padding: 15px 13px;
  background-color: #fafafa;
  border: 1px solid #eee;
}

.declare-text {
  color: #888;
  font-size: 11px;
  line-height: 27px;
}

.declare-btn {
  width: 83px;
  height: 25px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 11px;
  color: #555;
  text-align: center;
  line-height: 25px;
  background-color: #fff;
  cursor: pointer;
}
