.main-wrap {
  padding: 0 20px 40px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.flexbox {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

.global-sale {
  width: 1280px;
  margin: 0 auto;
}

@media (max-width: 1139px) {
  .flexbox {
    flex-direction: column-reverse;
    align-items: center;
  }
}
