.color-option {
  cursor: pointer;
}

.color-option.selected {
  border: 1px solid blue;
}

.color-options {
  display: flex;
  margin: 20px 0;
  img {
    margin-right: 5px;
    width: 100px;
    height: 100px;
  }
}
