.ratewrap {
  padding: 0 0 10px;
  border-bottom: 1px solid #ccc;
}

.subtitle {
  font-size: 12px;
  color: #346aff;
  padding-bottom: 6px;
  cursor: pointer;
  width: fit-content;
}

.titlebox {
  display: flex;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.ratebox {
  display: flex;
  margin-top: 5px;
}

.evalution {
  color: rgb(84, 84, 216);
  margin-left: 8px;
}

.sharebtn {
  cursor: pointer;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  background: url(//img1a.coupangcdn.com/image/dragonstone/sdp/PCSDP_imageasset_180417-min.png)
    no-repeat -306px -209px;
  border: none;
}

.heartbtn {
  cursor: pointer;
  margin-left: 5px;
  width: 40px;
  height: 40px;
  background: url(//img1a.coupangcdn.com/image/dragonstone/sdp/PCSDP_imageasset_180417-min.png)
    no-repeat -218px -209px;
  border: none;
}

.product-name-rate .ant-rate-star .anticon {
  font-size: 20px;
}

@media (max-width: 1139px) {
  .title {
    font-size: 15.5px;
  }
}
