.originbox {
  display: flex;
  padding-top: 16px;
  font-size: 14px;
}

.coupangbox {
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  span {
    font-size: 14px !important;
    margin-left: 3px;
    font-weight: 400 !important;
  }
}
.pricebox {
  color: #cb1400;
  font-weight: bold;
  border-bottom: 1px solid #eee;
  font-size: 20px;
  padding-bottom: 16px;
  line-height: 20px;
  span {
    font-size: 14px !important;
    margin-left: 3px;
    font-weight: 400 !important;
  }
}
.infobox {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  margin: 10px 0;
  span {
    margin-left: 5px;
    color: #008c00;
  }
  img {
    margin-left: 2px;
  }
}

.delivery-wrap {
  display: flex;
  height: 18px;
  margin: 20px 0 18px 0;
}

.iconbox {
  width: 18px;
  margin-right: 6px;
}

.icon {
  width: 15px;
}

.green-text {
  color: #008c00;
  font-size: 14px;
  font-weight: 400;
}

.small-text {
  color: #212b36;
  font-size: 12px;
  font-weight: 400;
  margin-left: 4px;
}

.stick {
  width: 1px;
  height: 18px;
  background: #eee;
  margin: 0 12px;
}
.adjustbox {
  display: flex;
}
.countbox {
  width: 81px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0;
  padding: 3px 8px;
  margin-right: 3px;
  border: 1px solid #ccc;
}

.amount {
  margin: 0 10px;
  font-weight: bold;
}

.minus,
.plus {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plus {
  margin-bottom: 2px;
}
.minus {
  margin-top: 2px;
}

.plus-minus-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.free-text {
  color: #212b36;
  font-size: 14px;
  font-weight: 400;
}
.nowbuy {
  background: #346aff;
  color: #fff;
  border-radius: 0;
  width: 191px;
  height: 42px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #346aff;
}

.cartbtn {
  line-height: 40px;
  width: 191px;
  height: 42px;
  border-radius: 0;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #346aff;
}

.simplepay-wrap {
  margin-top: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.simplepay {
  margin-right: 8px;
  font-size: 13px;
  font-weight: 700;
  color: #212b36;
}

.payicon {
  width: 15px;
  height: auto;
  margin: 0 2px 0 4px;
}

.paytext {
  font-weight: 400;
  font-size: 13px;
  color: #454f5b;
}

.payiconbox {
  display: flex;
  align-items: center;
}

/* 별크기 조절 */
.ant-rate-star {
  font-size: 20px !important;
}

@media (max-width: 1139px) {
  .green-text {
    font-size: 12px;
  }
  .stick {
    margin: 0 8px;
  }
  .iconbox {
    width: 14px;
  }
}
