.today-box {
  margin: 50px 0;
}

.swiper-wrap {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.product-title {
  font-size: 23px;
  font-weight: 900;
  margin-bottom: 30px;
  .red {
    color: #e12705;
  }
  .purple {
    color: #9e20d3;
  }
}

.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: -5%;
  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-next {
  position: absolute;
  top: 50%;
  right: -5%;
  transform: translateY(-50%);
  z-index: 10;
}

.deleteEl-title {
  font-size: 18px;
  font-weight: 700;
  color: #111;
  padding-bottom: 20px;
}
