.badge {
  border: 1px solid #e12705;
  width: fit-content;
  color: #e12705;
  font-weight: 700;
  font-size: 12px;
  border-radius: 4px;
  padding: 2px 6px;
  margin: 8px 0 5px 0;
}

.product-name {
  max-width: 160px;
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.percent-price {
  display: flex;
  align-items: center;
  .wow {
    font-size: 12px;
    color: #e12705;
    font-weight: 500;
    margin-right: 6px;
  }
  .origin-price {
    font-size: 12px;
    color: #768695;
    font-weight: 400;
    span {
      text-decoration: line-through;
    }
  }
}

.now-price {
  font-size: 16px;
  font-weight: 700;
  color: #cb1400;
}

.arrive {
  font-size: 14px;
  font-weight: 400;
  color: #212b36;
  margin-bottom: 2px;
}

.free-delievery {
  margin-bottom: 2px;
  color: #212b36;
  font-size: 14px;
  font-weight: 400;
}

/* 별점의 커스텀 클래스 스타일 설정 */
.ant-rate-star .anticon {
  font-size: 12px;
}

.custom-progress-text {
  font-weight: 700;
  font-size: 12px;
  color: #454f5b;
  white-space: nowrap;
}

.rate-text {
  margin-left: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #888;
  margin-top: 2px;
}

.ant-progress-outer {
  width: 90% !important;
}

.deleteElement {
  display: none;
}

.swiper-slide:hover {
  cursor: pointer;
  .product-name-blue {
    color: rgb(58, 58, 254);
  }
  .title-botton-line {
    text-decoration: underline;
  }
}

.image-wrap {
  display: inline-block;
  overflow: hidden;
  width: 160px;
  height: 160px;
  .image-box {
    width: 100%;
  }
  .image-box-scale {
    transition: transform 0.3s ease-in-out;
  }
}
.image-box-scale:hover {
  transform: scale(1.1);
}
