.img-container {
  position: relative;
  width: 120px;
  height: 120px;
  .overlay-container {
    .blackImg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.5;
      cursor: pointer;
    }

    .custom-playicon {
      position: absolute;
      top: 20%;
      left: 30%;
      color: white;
      font-size: 50px;
      cursor: pointer;
    }

    .video-time {
      position: absolute;
      color: white;
      font-size: 20px;
      top: 62%;
      left: 35%;
      cursor: pointer;
    }

    .finary-number {
      position: absolute;
      color: white;
      font-size: 40px;
      font-weight: 400;
      top: 20%;
      left: 23%;
      cursor: pointer;
    }
    .finary-add {
      position: absolute;
      color: white;
      font-size: 15px;
      font-weight: 600;
      top: 63%;
      left: 30%;
      cursor: pointer;
    }
  }

  .img-element-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }
}
