.table-info {
  margin-bottom: 40px;
}
.subcontent {
  color: #333;
  font-size: 12px;
  line-height: 17px;
  margin-bottom: 5px;
}

.deliinfo {
  padding: 8px 0 4px;
  font-size: 12px;
  font-weight: 700;
  color: #333;
  margin-bottom: 5px;
}
